# Default ignored files
/shelf/
/workspace.xml
/reports/
/json-formatted-file/
/json-file/
/target/
.DS_Store
/.idea/
/src/main/resources/ATUTestRecorder_2.1.jar
/user-credentials/sheets.googleapis.com-java-quickstart/
/user-credentials/drive.googleapis.com-java-quickstart/
/user-credentials/
/onepagespotlight.iml
